<!DOCTYPE html>
<html>
<head>
  <title>Form of post</title>
  <style>
    .border-solid{
      border: 90px solid #9799a7;
    }
  </style>
</head>
<body class="border-solid">
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <body style="background-color:powderblue; text-align: center;>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
  </body>
<% end %>
</html>